<html>
	<head></head>
	<body>
		#if ( $item.description )
			$item.description
		#else
			<em>No content</em>
		#end
		<br>
		<hr>
		<br>
		<em>
			#if ( $item.link )
				Article: <a href="$item.link">$item.link</a>
			#end

			#foreach ( $enclosure in $item.enclosures )
				<br><br>Download: <a href="$enclosure.url">$enclosure.url</a>
			#end
		</em>
		<br><br><div style="font-size:0.75em;color:#aaa;text-align:right;">&lt;Item-ID:${item.id}&gt;</div>
	</body>
</html>